<% content_for :title, "Projects - Getting started." %>

<div class="section page-title bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1>Get started</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 ml-auto mr-auto">
      <div class="box m-b-30">
        <h3>How to create a project?</h3>
        <hr>
        <ol>
          <li>Think about what event you like to create.</li>
          <li><%= link_to "Sign In", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %>.</li>
          <li>Add all information you have right now.</li>
          <li>Add mission information step by step, we will guide you through it.</li>
          <li>Publish your event.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
