@import "partials/mixins";

body {
  overflow-x: hidden;
  padding-top: 90px;
  background-color: var(--light) !important;
}

.breadcrumb-wrapper {
  position: relative;
  margin-top: 40px;
  .breadcrumb-container {
    position: absolute;
    width: calc(100% - 140px);
    background: var(--white);
    top: -40px;
    height: 40px;
    left: 70px;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--black_25);
    border-bottom: none;
    @include flex(row, center);
    align-items: center;
    a {
      color: var(--black_50);
    }
  }
}

.section {
  padding: 40px 0;
  &.hero {
    padding-top: 60px;
    padding-bottom: 40px;
    min-height: 40vw;
    position: relative;
    .container {
      position: relative;
      z-index: 2;
    }
  }
  &.page-title {
    min-height: 350px;
    max-height: 700px;
    height: auto;
    text-align: center;
    @include flex(column, center);
    margin-bottom: 50px;
    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &.content {
    @include flex(column, center);
    min-height: 60vh;
    img {
      width: 100%;
      @include border-radius;
    }
  }
  &.bg-primary {
    @include bg(primary);
  }
  &.bg-dark {
    background-color: var(--dark-2) !important;
    color: var(--white_100) !important;
  }
}


/* < 2000px */
@media screen and (max-width: 2000px) {
  .section.hero {
    min-height: 45vw;
  }
}

/* < 1500px */
@media screen and (max-width: 1500px) {
  .section.hero {
    min-height: 50vw;
  }
}

/* < 1200px */
@media screen and (max-width: 1200px) {
  .section.hero {
    height: 60vw;
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  .section.hero {
    min-height: 70vh;
  }
}

/* < 768px */
@media screen and (max-width: 768px) {
  .section.hero {
    min-height: 800px;
    h1 {
      margin-top: 0;
    }
  }
}
/* < 575.98px */
@media screen and (max-width: 575.98px) {
  .section.hero {
    min-height: 700px;
  }
  .section.page-title {
    margin-bottom: 15px;
    padding-top: 0;
    height: 250px;
    min-height: 250px;
  }
  .breadcrumb-wrapper {
    .breadcrumb-container {
      width: calc(100% - 80px);
      left: 40px;
    }
  }
}
